<div class="sidebar" ng-controller="SidebarController">
    <h2 class="sidebar-heading-title text-center">Artikel Lainnya</h2>
    <ul class="other-articles">
        <li class="article-card" ng-if="currentURL !== 'artikel1.html'">
            <a href="artikel1.html">
                <img src="../image/outfit1.JPG" alt="Artikel 1" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Berikut Fashion Style Yang Dikenakan Dziko, Mahasiswa Dari Untar</strong>
                </h4>
                <p class="text-black">Outfit ini memberikan kesan kasual namun tetap stylish.</p>
            </div>

        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel2.html'">
            <a href="artikel2.html">
                <img src="../image/outfit2.JPG" alt="Artikel 2" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Wow Mengejutkan Ternyata Inilah Rahasia Dibalik Penampilan
                        Hypebeast
                        Mahasiswa Bernama Oscar!</strong></h4>
                <p class="text-black">Pada foto tersebut, terlihat seseorang mengenakan outfit kasual yang bernuansa
                    sporty dan modern.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel3.html'">
            <a href="artikel3.html">
                <img src="../image/outfit3.JPG" alt="Artikel 3" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Berikut Setelan Formal Wilbert Yang Sangat Cocok Di Pakai
                        Untuk Gen Z</strong></h4>
                <p class="text-black">Pada foto ini, seseorang terlihat mengenakan outfit yang kasual namun tetap rapi
                    dan terkesan elegan.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel4.html'">
            <a href="artikel4.html">
                <img src="../image/outfit4.JPG" alt="Artikel 4" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Tren Oversized yang Sedang Digemari Kaum Muda</strong></h4>
                <p class="text-black">Pada foto ini, terlihat seseorang dengan gaya streetwear yang bernuansa urban dan
                    edgy.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel5.html'">
            <a href="artikel5.html">
                <img src="../image/outfit5.JPG" alt="Artikel 5" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Inspirasi Outfit Santai untuk Akhir Pekan</strong></h4>
                <p class="text-black">Pada foto ini, terlihat seseorang dengan gaya streetwear kasual yang santai dan
                    modern.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel6.html'">
            <a href="artikel6.html">
                <img src="../image/outfit6.JPG" alt="Artikel 6" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Fashion Vintage yang Kembali Populer di Kalangan Gen Z</strong></h4>
                <p class="text-black">Pada foto ini, orang tersebut mengenakan gaya fashion kasual yang terinspirasi
                    dari streetwear, dengan fokus pada kenyamanan dan ekspresi budaya pop.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel4.html'">
            <a href="artikel7.html">
                <img src="../image/outfit7.JPG" alt="Artikel 4" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Tren Oversized yang Sedang Digemari Kaum Muda</strong></h4>
                <p class="text-black">Pada foto ini, terlihat seseorang dengan gaya streetwear yang bernuansa urban dan
                    edgy.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel5.html'">
            <a href="artikel8.html">
                <img src="../image/outfit8.JPG" alt="Artikel 5" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Inspirasi Outfit Santai untuk Akhir Pekan</strong></h4>
                <p class="text-black">Pada foto ini, terlihat seseorang dengan gaya streetwear kasual yang santai dan
                    modern.</p>
            </div>
        </li>
        <li class="article-card" ng-if="currentURL !== 'artikel6.html'">
            <a href="artikel9.html">
                <img src="../image/outfit9.JPG" alt="Artikel 6" class="sidebar-article-image">
            </a>
            <div class="article-content">
                <h4 class="text-black"><strong>Fashion Vintage yang Kembali Populer di Kalangan Gen Z</strong></h4>
                <p class="text-black">Pada foto ini, orang tersebut mengenakan gaya fashion kasual yang terinspirasi
                    dari streetwear, dengan fokus pada kenyamanan dan ekspresi budaya pop.</p>
            </div>
        </li>
    </ul>
</div>